POSTGRES_USER=username

POSTGRES_PASSWORD=password

POSTGRES_DB=db_name

DB_HOST=db

DB_PORT=5432

SECRET_KEY='some_secret_key'

DEBUG=True

ALLOWED_HOSTS=127.0.0.1,localhost

CSRF_TRUSTED_ORIGINS=https://name
